<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1063264156706-9of910einuhchb1pef6g482vu8b91nh4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1063264156706-9of910einuhchb1pef6g482vu8b91nh4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1063264156706-7r154im23dpslvvd468ps3ovtaj5j6kc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCHu1eiEhE5GIon6TkUTKECcOs_KOQouJk</string>
	<key>GCM_SENDER_ID</key>
	<string>1063264156706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nextvibe.app</string>
	<key>PROJECT_ID</key>
	<string>nextvibe-869b5</string>
	<key>STORAGE_BUCKET</key>
	<string>nextvibe-869b5.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063264156706:ios:810caf859975dd51db9e7b</string>
</dict>
</plist>