**/.env

*.env
*.log
*.apk
celerybeat-schedule
backend/.venv/
backend/NextVibeAPI/staticfiles

backend/NextVibeAPI/media/

backend/NextVibeAPI/posts/src/.env

backend/NextVibeAPI/NextVibeAPI/.env

**/__pycache__/

./.vscode
./.idea
.idea

.idea/*

**/__pycache__/
*.pyc

# Celery
*.dat

# Logs
*.log
